{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-sm">
    <div class="row">
        <div class="com-md-12">
            <div class="jumbotron shadow-sm p-3 mb-5 bg-body rounded mt-3">
                <h1 class="text-center">
                    About Me
                </h1>
            </div>
            <div class="shadow p-3 mb-5 bg-body rounded">
                <p>
                    I am 28 years old and live in Lake Elsinore California. I enjoy spending time with my family and playing music. I plan to work on several more projects to hone my development skills and ultimately build a web development portfolio. 
                </p>
                <p>
                    Going forward with my learning, I would like to learn React. It seems to be something that is frequently sought after in the web development arena. As I learn new concepts, I hope to make contact with colleagues in the development field as well as network with new individuals in pursuit of a career.
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}